html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    font-size: 1em;
}
button{
    border: 0.1em solid #000;
    border-radius: .75em;
    padding: .5em;
    cursor: pointer;
}
#check{
    display: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #999;
    transition: .5s;
}
.nav{
    display: flex;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    z-index: 100;
    justify-content: space-between;
    box-shadow: 1px 1px 1px #000;
}
.nav__p{
    font-size: 1.3em;
    display: flex;
    align-items: center;
    margin: 0 1em;
    z-index: 99;
}
.nav__ul{
    display: flex;
    flex-direction: column;
    margin: .5em;
}
.checkbtn{
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 1em;
    z-index: 99;
}
.checkbtn:hover{
    color: #999;
    transition: .5s;
}
.nav__li{
    margin: 1em;
    text-align: center;
}
.nav__container{
    display: flex;
    top: -1000%;
    position: absolute;
    z-index: 50;
    background-color: #fff;
    width: 100vw;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
}
#check:checked ~ .nav__container{
	top: 10vh;
	transition: .5s;
}
.article-1{
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    )
    , url(../../../Cursos/Anotaciones/CSS/Diseño/responsive-mejorado/imagenes/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.article-1__h1{
    font-size: 6.5vw;
    margin: .5em;
}
.article-1__p{
    margin: 1em 1.5em;
    text-align: center;
}
.article-1__button{
    margin-top: 1em;
    background-color: rgb(230, 230, 230);
    font-weight: bold;
    font-size: 1.25em;
}
.article-2{
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    margin: 1em;
    text-align: center;
}
.article-2__h2{
    font-size: 1.8em;
    margin: 1em 0;
}
.article-2__p{
    text-align: justify;
    margin: 0 1.5em;
}
.article-2__div-img{
    display: none;
}
.article-3{
    height: 80vh;
    background-color:rgb(35, 35, 59);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.article-3__h2{
    font-size: 1.8em;
    margin: 1em 0;
}
.article-3__div{
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    width: 80vw;
    margin: 1.5em 0;
}
.article-3__h3{
    margin-bottom: 1em;
}
.article-3__button{
    font-weight: bold;

}
.article-3__p{
    display: none;
}
.article-3__div:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    )
    , url(../../../Cursos/Anotaciones/CSS/Diseño/responsive-mejorado/imagenes/pantalla.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.article-3__div:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.6),
        rgba(0,0,0,.6)
    )
    , url(../../../Cursos/Anotaciones/CSS/Diseño/responsive-mejorado/imagenes/tester.png);
    background-position: center;
}
.article-3__div:last-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    )
    , url(../../../Cursos/Anotaciones/CSS/Diseño/responsive-mejorado/imagenes/soldadura.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.article-4{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
.article-4__h2{
    font-size: 1.8em;
    margin: 1em 0;
    text-align: center;
}
.article-4__ul{
    font-size: 1.35em;
    margin: .5em 0;
}
.article-4__li{
    margin: .5em 0;
}
.article-4__div-img{
    display: none;
}
.article-5{
    background-color: rgb(35, 35, 59);
    color: #fff;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article-5__h2{
    margin: 1em;
    text-align: center;
    font-size: 1.35em;
}
.article-5__button{
    font-weight: bold;
    background-color: #25D366;
}
footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    margin: 0 .5em;
}
.footer__div-a{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
}